@charset "UTF-8";

$regular: 'Montserrat', sans-serif;
$red: #e03e2f;
$black: #1d1d1b;
$purple: #624589;
$purpleBg: #e1dbf2;
$orangeText: #f75800;

html,
body {
  margin: 0;
  padding: 0;
}

@mixin text {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
}

@mixin img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

#es-loreal.es-loreal {
  font-family: $regular;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.2;
  max-width: 998px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  color: $black;
  background: #fff;

  * {
    box-sizing: border-box;
  }

  h2,
  h3,
  h4,
  h5 {
    font-family: $regular;
    color: $black;
  }
  .es-kv {
    margin: 0;
    padding: 0;
    position: relative;
    background-color: #ededee;
    &__logo {
      position: relative;
      margin: 0 auto;
      padding: 15px;
      max-width: 50%;
    }
    &__logo-2 {
      position: relative;
      margin: 0 auto;
      padding: 30px 15px 15px;
      max-width: 80%;
    }
    &__title {
      position: relative;
      @include text;
      padding: 15px;
      text-align: center;
      text-transform: uppercase;
      font-size: 40px;
      font-weight: 700;
      & span {
        background-image: linear-gradient(90deg, #ea6232, #feeb29);
        background-clip: text;
        color: transparent;
      }
    }
    &__badge {
      position: relative;
      margin: 0 auto;
      max-width: 80%;
    }
    &__photo {
      &--desktop {
        display: none;
      }
      &--mobile {
        display: block;
      }
    }
    &__img {
      @include img;
    }
  }

  .es-routine {
    background-image: linear-gradient(0deg, #fff, #ef7938);
    &__mobile {
      display: block;
    }
    &__title {
      @include text;
      font-size: 28px;
      padding: 20px;
      text-transform: uppercase;
      text-align: center;
      font-weight: 400;
    }
    &__subtitle {
      @include text;
      font-size: 28px;
      padding: 0 20px 20px;
      text-transform: uppercase;
      text-align: center;
      font-weight: 700;
      color: #fff;
      & span {
        color: #e42423;
      }
    }
    &__img {
      @include img;
      padding: 20px;
    }
    &__step {
      font-size: 20px;
      &--wrapper {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
      }
      &--title {
        @include text;
        text-transform: uppercase;
        color: $orangeText;
        font-weight: 700;
      }
      &--desc {
        @include text;
        text-transform: uppercase;
      }
      &--subtitle {
        @include text;
        text-transform: uppercase;
        font-weight: 700;
      }
    }
    &__ba {
      background: linear-gradient(0deg, transparent 35%, $orangeText 35%,$orangeText 65%, transparent 65%,transparent 100%);
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
      &--single {
        position: relative;
      }
      &--desc {
        width: 100%;
        @include text;
        text-align: center;
        text-transform: uppercase;
        color: #fff;
        font-weight: 700;
        font-size: 22px;
        position: absolute;
        bottom: 40px;
        & sup {
          font-size: 10px;
        }
      }
      &--text {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        color: black;
        gap: 10px;
      }
      &--number {
        @include text;
        display: inline-block;
        font-weight: 900;
        font-size: 90px;
        text-transform: uppercase
      }
      &--content {
        @include text;
        font-size: 18px;
        text-transform: uppercase;
        display: inline-block;
        & sup {
          font-size: 10px;
        }
      }
    }
    &__title-bottom {
      @include text;
      font-size: 28px;
      padding: 20px;
      text-transform: uppercase;
      text-align: center;
      font-weight: 400;
      & span {
        color: $orangeText;
      }
    }

  }

  .es-slider {
    background: url('images/bg-slider.png') no-repeat;
    background-size: cover;
    margin: 64px 0 64px;
    padding-bottom: 64px;
    &__title {
      @include text;
      font-size: 32px;
      font-weight: 300;
      padding: 0 16px;
      text-transform: uppercase;
      line-height: 1.1;
      text-align: center;
    }
    &__wrapper {
      padding: 56px 16px 0 16px;
    }
    &__content {
      max-width: 886px;
      padding: 16px 24px;
      margin: 0 auto;
      background: #fff;
      border-radius: 16px;
      box-shadow: 8px 16px 40px rgba(0, 0, 0, 0.1);
    }
    &__persona {
      display: flex;
      flex-flow: column;
      align-items: center;
    }
    &__img {
      @include img;
    }
    &__photo {
      margin-bottom: 16px;
    }
    &__content {
      position: relative;
    }
    &__slide {
      padding-left: 32px;
      padding-top: 32px;
      position: relative;
    }
    &__number {
      @include text;
      position: absolute;
      top: 0px;
      left: 0px;
      font-size: 145px;
      font-weight: 700;
      color: #bdadbf;
      opacity: 0.34;
      line-height: 1;
    }
    .swiper-button-prev:after,
    .swiper-container-rtl .swiper-button-next:after {
      display: none;
    }
    .swiper-button-next:after,
    .swiper-container-rtl .swiper-button-prev:after {
      display: none;
    }
    .swiper-button-next,
    .swiper-container-rtl .swiper-button-prev {
      right: -12px;
      left: auto;
    }
    .swiper-button-prev,
    .swiper-container-rtl .swiper-button-next {
      left: -12px;
      right: auto;
    }
    .swiper-container-horizontal > .swiper-pagination-bullets,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
      bottom: 0px;
    }
    .swiper-pagination {
      position: absolute;
      bottom: -32px;
      left: 50%;
      transform: translateX(-50%);
      text-align: center;
    }
    .swiper-pagination-bullet {
      width: 12px;
      height: 12px;
      display: inline-block;
      border-radius: 50%;
      background: #fff;
      border: 1px solid $black;
      opacity: 1;
      &:not(:last-child) {
        margin-right: 6px;
      }
    }
    .swiper-pagination-bullet-active {
      opacity: 1;
      background: $black;
    }
  }

  .es-cross {
    margin-bottom: 56px;
    &__bg {
      display: none
    }
    &__title {
      @include text;
      font-size: 32px;
      font-weight: 300;
      margin-bottom: 32px;
      padding: 0 16px;
      text-transform: uppercase;
      line-height: 1.1;
      text-align: center;
    }
    &__img {
      @include img;
    }
    &__packshot {
      margin-bottom: 16px;
      &--desktop {
        display: none;
      }
    }
    &__container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 32px 16px;
    }
    &__single {
      width: 258px;
      max-width: 100%;
      display: flex;
      flex-flow: column;
      justify-content: flex-end;
      &:hover {
        .es-cross__link {
          background: #e1044b;
        }
      }
    }
    &__product {
      @include text;
      text-align: center;
      font-size: 14px;
      font-weight: 700;
      margin-bottom: 8px;
    }
    &__name {
      @include text;
      text-align: center;
      font-size: 16px;
      margin-bottom: 8px;
    }
    &__link {
      @include text;
      padding: 12px;
      border-radius: 4px;
      color: #fff;
      text-align: center;
      font-size: 16px;
      font-weight: 700;
      background: $black;
      text-decoration: none;
      display: block;
      transition: background 0.3s;
    }
    &__line {
      display: none;
    }
  }

  .es-footer {
    padding: 0 16px;
    padding-bottom: 56px;
    &__text {
      @include text;
      text-align: center;
      font-size: 12px;
    }
  }

  @media screen and (min-width: 500px) {

  }
  @media screen and (min-width: 768px) {
    .es-kv {
      &__photo {
        &--desktop {
          display: block;
        }
        &--mobile {
          display: none;
        }
      }
      &__logo {
        position: absolute;
        top: 3%;
        right: 2%;
        max-width: 220px;
      }
      &__logo-2 {
        position: absolute;
        top: 13%;
        right: 2%;
        max-width: 220px;
      }
      &__title {
        position: absolute;
        top: 29%;
        right: 0;
        width: 420px;
        text-align: left;
        font-size: 48px;
      }
      &__badge {
        position: absolute;
        top: 50%;
        right: -8%;
        max-width: 280px;
      }

    }
    .es-routine {
      &__mobile {
        display: none;
      }
    }
    .es-slider {
      &__title {
        font-size: 35px;
      }
      &__content {
        display: flex;
        flex-flow: row-reverse;
        padding: 32px;
      }
      &__persona {
        min-width: 136px;
        margin-left: 32px;
      }
      &__job {
        margin-bottom: 0;
      }
    }
  }

  @media screen and (min-width: 998px) {
    .es-slider {
      .swiper-button-next,
      .swiper-container-rtl .swiper-button-prev {
        right: -48px;
        left: auto;
      }
      .swiper-button-prev,
      .swiper-container-rtl .swiper-button-next {
        left: -48px;
        right: auto;
      }
      .swiper-button-next,
      .swiper-button-prev {
        width: 40px;
      }
    }
    .es-aplicator {
      &__line {
        display: block;
      }
    }
    .es-steps {
      &__desc {
        height: 80px;
      }
      &__number {
        font-size: 60px;
        top: 50%;
        left: 5%;
      }
      &__smallTitle {
        font-size: 12px;
        left: 10%;
        top: 32%;
      }
      &__text {
        font-size: 12px;
        left: 10%;
        top: 58%;

      }
    }
  }
}

@keyframes slidedown {
  from {
    opacity: 0;
    transform: translateY(-32px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideright {
  from {
    opacity: 0.3;
    transform: translateX(-100px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideleft {
  from {
    opacity: 0.3;
    transform: translateX(100px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}
